// Desktop first approach(maintaining old project)
// Main section about styling
#about {
  // height: 80vh;
  min-height: 500px;
  display: grid;
  grid-template-columns: 5% 1fr 5%;
  grid-template-rows: 5% 1fr 5%;
  justify-items: center;
  margin-bottom: 5rem;
  // margin-bottom: Min(calc(5vw + 2rem), 5rem);
}

// About page is the container div of about section
.about-page {
  grid-column: 2/3;
  grid-row: 2/3;
  width: 90%;
  height: 100%;
  display: grid;
  grid-template-columns: 1.4fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;

  // The first left section - about me
  .about-me {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 90%;
    height: 100%;
    justify-self: start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
  }

  // The second right section - Contact me
  .contact-me {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 90%;
    height: 100%;
    justify-self: end;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
  }
}

// About description
.about-description {
  height: 40%;
  width: 95%;
  align-self: center;
  margin-top: 3em;

  h3 {
    font-size: 2rem;
    text-align: center;
  }

  p {
    margin: 2rem 4rem;
    padding: 0rem 1rem;
    text-align: justify;
    font-size: 1.6rem;
    line-height: 2.5rem;
  }
}

// Separator line
.about-description::after {
  content: '';
  display: block;
  width: 83%;
  height: 4px;
  background: $base-color;
  border-radius: 4px;
  margin: 2em auto;
}

// The information interactive div (toggling buttons for skill, exp education)
.about-info {
  min-height: 250px;
  width: 80%;
  align-self: center;
  position: relative;
  margin: 1rem auto;
}

// Button container div
.about-tabs {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
  flex: 1;

  // Style the buttons that are used to open the tab content
  button {
    background-color: #448b7010;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.6em 1em;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    border-radius: 8px;
    margin: 0;
    transition: 0.3s;
  }

  // Change background color of buttons on hover
  button:hover {
    background-color: #20aa7563;
    color: #f1f1f1;
  }

  // Create an active/current tab-link class
  button.active {
    background-color: #20aa76;
    color: #f1f1f1;
  }

  // Style the tab main (the outer box of skills tab to none- default state)
  // Controlled by JS
  .tab-main {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    animation: fadeEffect 500ms; /* Fading effect takes 500 ms */
  }

  /* Go from zero to full opacity */
  @keyframes fadeEffect {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

// The skill items arrangement using flexbox and grid
.tab-main {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .tab-content {
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    font-size: 1.5rem;
    margin: 2rem 1rem;
    justify-items: start;
  }

  .m-text {
    grid-column: 1/2;
    grid-row: 1/2;
    font-weight: 600;
  }

  .opt--1 {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .opt--2 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
}

#Experience {
  margin: 2rem 3.5rem;
  font-size: 1.5rem;

  .exp-list {
    list-style: none;

    li {
      margin: 2rem 0rem;
      font-family: 'Montserrat', sans-serif;
      line-height: 2.6rem;

      a {
        color: rgb(5, 92, 31);
      }

      a:hover,
      a:focus,
      a:active {
        color: $base-color;
      }

      span {
        font-weight: 600;
      }
    }

    li::before {
      content: ''; // bullet
      height: 1rem;
      width: 1rem;
      border-radius: 50%;
      border: solid 2px black;
      background: $base-color;
      display: inline-block;
      margin: 0rem 1rem 0rem -2rem;
    }
  }
}

#Education {
  margin: 4rem 4rem;
  font-size: 1.5rem;

  p {
    font-family: 'Montserrat', sans-serif;
    line-height: 2.6rem;
  }

  p::before {
    content: '';
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    border: solid 2px black;
    background: $base-color;
    display: inline-block;
    margin: 0rem 1rem 0rem -2rem;
  }

  a {
    color: rgb(5, 92, 31);
  }

  a:hover,
  a:focus,
  a:active {
    color: $base-color;
  }
}

// Contact me section
.contact-head {
  font-size: 2rem;
  text-align: center;
  margin-top: 3rem;
}

#contact-form {
  width: 95%;
  height: 90%;
  padding: 1.5rem 0.625rem 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  label {
    font-size: 1.6rem;
    font-weight: 600;
  }

  .form-field {
    margin: 1rem;
    width: 80%;
    padding: 0.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .form-input {
    display: inline-block;
    width: 65%;
    height: 3.2rem;
    padding: 0.375rem 0.75rem;
    color: black;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #ced4da;
    border-radius: 0.5rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .form-input:focus {
    border-color: $base-color;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.1);
  }

  #text-label {
    align-self: flex-start;
    margin-top: 0.5rem;
  }

  #text-input {
    min-height: 140px;
    padding: 0.625rem;
    resize: vertical;
  }

  .submit-button {
    padding: 0.5em 4em;
    margin-left: 4rem;
    background: $base-color;
    color: #f1f1f1;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    outline: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.1);
  }
}

// Bottom back button
.btn-top {
  position: absolute;
  top: 88%;
  left: 96%;
  transform: translate(-96%, -88%);
  width: 4rem;
  height: 4rem;
  background: $base-color;
  border-radius: 50%;
  display: none;
  // display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: fixed;
  transition: background 1s linear;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);

  .btn-img {
    a {
      text-decoration: none;
      color: #f1f1f1;
      i {
        font-size: 2.3rem;
      }
    }
  }
}

.btn-top:active {
  box-shadow: none;
}

@media screen and (min-width: 1200px) {
  .tab-main {
    margin-left: 1%;
  }

  .tab-content {
    font-size: 1.7rem;
  }
}

// Tab size queries
@media screen and (max-width: 900px) {
  #about {
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: 1fr 5%;
    justify-items: center;
    align-items: center;
  }

  .about-page {
    grid-row: 1/2;
    grid-column: 2/3;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .about-me {
      width: 100%;
    }

    .contact-me {
      width: 100%;
      height: 100%;
      margin: 4rem 0rem;
      border-radius: 50px;
    }
  }

  .about-description {
    height: auto;
    width: 100%;
    padding: 1rem 2rem;
    position: relative;

    p {
      margin: 2rem;
      line-height: 3rem;
    }
  }

  .about-description::after {
    position: relative;
    width: 91%;
    margin: 0 auto;
  }

  .tab-main {
    margin-left: 3rem;
  }

  .about-tabs {
    /* Style the buttons that are used to open the tab content */
    button {
      font-size: 1.4rem;
    }
  }
  #contact-form {
    .submit-button {
      margin: 2rem 0 0;
    }
  }
}

@media screen and (max-width: 600px) {
  .about-me {
    padding-bottom: 2rem;
  }
  .about-description {
    font-size: 1.4rem;
    margin-top: 1.5em;
    padding-bottom: 0;

    p {
      margin: 1rem;
      font-size: 1.4rem;
      line-height: 2.2rem;
    }
  }

  .about-description::after {
    margin: 1em auto;
  }

  .about-info {
    margin: 0;
  }

  .about-tabs {
    margin-top: 1rem;

    button {
      font-size: calc(1vw + 0.6rem);
      padding: 0.3em 0.5em;
      border-radius: 4px;
    }
  }

  .tab-main {
    margin-top: 2rem;
    margin-left: 0;

    .tab-content {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-row-gap: 1rem;
      row-gap: 1rem;
      justify-items: center;
      margin: 1rem 0rem 2rem;
    }

    .m-text {
      grid-column: 1/3;
      grid-row: 1/2;
    }

    .opt--1 {
      grid-column: 1/2;
      grid-row: 2/3;
    }

    .opt--2 {
      grid-column: 2/3;
      grid-row: 2/3;
    }
  }

  #Experience {
    font-size: 1.4rem;
  }

  .contact-head {
    font-size: 1.8rem;
  }

  #contact-form {
    label {
      font-size: 1.4rem;
    }
    .submit-button {
      margin: 2rem auto 0rem;
    }
  }
}
