.side-dots {
  position: fixed;
  top: 50%;
  left: 95%;
  transform: translate(-95%, -50%);
  width: 15px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  z-index: 1000;

  .dot-link {
    border: 1px solid #006842d7;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
    position: relative;

    a::before {
      content: '';
      position: absolute;
      display: block;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 15px;
      height: 15px;
      background: none;
    }
  }

  .dot-active {
    background: $base-color;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.7);
  }
}

@media screen and (max-width: 600px) {
  .side-dots {
    width: 15px;
    height: 100px;

    .dot-link {
      width: 10px;
      height: 10px;

      a::before {
        width: 10px;
        height: 10px;
      }
    }
  }
}
