@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap");
html {
  font-size: 62.5%;
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: black;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

section {
  scroll-snap-align: center;
}

h1 {
  font-size: 2.5rem;
  font-weight: bolder;
}

p {
  font-size: 1.4rem;
}

i {
  font-size: 1.5rem;
}

li {
  font-size: 1.6rem;
}

a {
  color: black;
  text-decoration: none;
}

.nav-home {
  -webkit-transition: background 250ms ease-in;
  transition: background 250ms ease-in;
}

.nav-home nav {
  min-height: 15vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 1fr 1fr 10%;
      grid-template-columns: 5% 1fr 1fr 10%;
  -ms-grid-rows: 10% 1fr 5%;
      grid-template-rows: 10% 1fr 5%;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-home #heading {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  font-family: 'Major Mono Display', monospace;
  font-size: 2.4rem;
  -ms-grid-column-align: self-start;
      justify-self: self-start;
  margin-left: 35%;
}

.nav-home ul {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  justify-self: center;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-home ul li {
  list-style: none;
  font-size: 2rem;
}

.nav-home ul li a {
  position: relative;
}

.nav-home ul li a::after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  background: #20AA76;
  -webkit-transition: width 0.25s;
  transition: width 0.25s;
}

.nav-home ul li a:hover::after {
  width: 100%;
  height: 4px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 4px 6px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 6px 4px rgba(0, 0, 0, 0.1);
}

.nav-home ul .active {
  position: relative;
}

.nav-home ul .active::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #20AA76;
  -webkit-transition: width 0.25s;
  transition: width 0.25s;
}

.nav-container {
  background: #20AA76;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  -webkit-transition: background 250ms ease-in;
  transition: background 250ms ease-in;
  -webkit-box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.3);
}

.nav-container nav {
  min-height: 8vh;
  display: -ms-grid;
  display: grid;
}

.nav-container nav #heading {
  font-size: 2rem;
  margin-left: 20%;
}

.nav-container nav ul {
  width: 90%;
}

.nav-container nav ul li {
  font-size: 1.6rem;
}

.nav-container nav ul li a::after {
  background: rgba(0, 0, 0, 0.6);
}

.nav-container nav ul li a:hover::after {
  height: 2px;
  -webkit-box-shadow: 0px 4px 6px 4px rgba(24, 126, 83, 0.322);
          box-shadow: 0px 4px 6px 4px rgba(24, 126, 83, 0.322);
}

.nav-container nav ul .active::after {
  height: 2px;
  background: rgba(0, 0, 0, 0.6);
}

#welcome {
  min-height: 80vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 1fr 1fr 10%;
      grid-template-columns: 5% 1fr 1fr 10%;
  -ms-grid-rows: 5% 1fr 5%;
      grid-template-rows: 5% 1fr 5%;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#welcome .pf-card {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  width: 60%;
  height: 100%;
  border-radius: 60px;
  background: #20AA76;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.1);
}

#welcome .pf-card .pf-photo {
  border-radius: 50%;
  overflow: hidden;
  width: 14vw;
  height: 14vw;
  position: relative;
}

#welcome .pf-card .pf-photo img {
  position: absolute;
  width: 100%;
  height: auto;
  margin: auto;
}

#welcome .pf-card h3 {
  font-size: 2.2rem;
}

#welcome .pf-card p {
  font-size: 1.8rem;
}

#welcome .pf-card .pf-location i {
  font-size: 2.4rem;
}

#welcome .pf-card .pf-email {
  margin-bottom: 50px;
}

#welcome .pf-card .pf-email i {
  font-size: 2.4rem;
}

#welcome .pf-card .pf-contact-icons i {
  font-size: 2.8rem;
  margin: 10px;
  color: white;
}

#welcome .wel-note {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#welcome .wel-note .wel-note-content {
  margin: 20px 10px;
  width: 60%;
  height: 60%;
}

#welcome .wel-note p {
  font-size: 2.2rem;
  margin: 10px 0px;
  line-height: 3.8rem;
}

#welcome .wel-note .wel-note-main {
  margin: 30px 0px;
  font-size: 2.4rem;
  font-weight: 600;
}

#welcome .wel-note .wel-btn {
  position: absolute;
  top: 88%;
  -webkit-transform: translateY(-88%);
          transform: translateY(-88%);
  width: 60%;
  height: 50px;
  color: white;
  background: radial-gradient(#20AA76 80%, #20aa75c2);
  border: none;
  border-radius: 10px;
  font-size: 1.6rem;
  -webkit-box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.1);
}

.side-dots {
  position: fixed;
  top: 50%;
  left: 95%;
  -webkit-transform: translate(-95%, -50%);
          transform: translate(-95%, -50%);
  width: 15px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
}

.side-dots div {
  border: 1px solid #006842d7;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
}

.side-dots .dot-active {
  background: #20AA76;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.7);
}

/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Poppins', sans-serif; */
#projects {
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  margin-top: 10vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 1fr 5%;
      grid-template-columns: 5% 1fr 5%;
  -ms-grid-rows: 5% 1fr 5%;
      grid-template-rows: 5% 1fr 5%;
}

.project-tile {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project-tile .row-1, .project-tile .row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

.card {
  position: relative;
}

.card .face {
  width: 300px;
  height: 200px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card .face.face1 {
  position: relative;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.card .face.face1 .content img {
  width: 150px;
  height: auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card .face.face1 .content h3 {
  margin: 10px 0 0;
  padding: 0;
  color: black;
  text-align: center;
  font-size: 1.4em;
}

.card .face.face2 {
  position: relative;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
          box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
}

.card .face.face2 .content p {
  margin: 0;
  padding: 0;
}

.card .face.face2 .content a {
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
}

.card .face.face2 .content a:hover,
.card .face.face2 .content a:active {
  background: #333;
  color: #fff;
}

.container .card .face.face1 {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.container .card:hover .face.face1,
.container .card:focus .face.face1,
.container .card:active .face.face1 {
  /* background: skyblue; */
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.container .card .face.face1 .content {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container .card:hover .face.face1 .content,
.container .card:focus .face.face1 .content,
.container .card:active .face.face1 .content {
  opacity: 0.2;
}

.container .card .face.face2 {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
}

.container .card:hover .face.face2,
.container .card:focus .face.face2,
.container .card:active .face.face2 {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

@media (max-width: 700px) {
  /* body{
        display: none;
    }  */
  .container .card .face {
    width: 100%;
    height: 200px;
  }
}
/*# sourceMappingURL=portfolio_page.css.map */