html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: black;
  font-family: 'Montserrat', sans-serif;
}

section {
  scroll-snap-align: start;
}

h1 {
  font-size: 2.5rem;
  font-weight: bolder;
}

p {
  font-size: 1.4rem;
}

i {
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
}

.nav-home {
  -webkit-transition: background 250ms ease-in;
  transition: background 250ms ease-in;
}

.nav-home nav {
  height: 15vh;
  min-height: 6rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 1fr 1fr 10%;
      grid-template-columns: 5% 1fr 1fr 10%;
  -ms-grid-rows: 10% 1fr 5%;
      grid-template-rows: 10% 1fr 5%;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-home #heading {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  font-family: 'Major Mono Display', monospace;
  font-size: 2.4rem;
  -ms-grid-column-align: self-start;
      justify-self: self-start;
  margin-left: 35%;
}

.nav-home ul {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  justify-self: center;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-home ul li {
  list-style: none;
  font-size: 2rem;
}

.nav-home ul li a {
  position: relative;
  text-decoration: none;
}

.nav-home ul li a::after {
  content: '';
  display: block;
  position: absolute;
  width: 0rem;
  margin: 0rem;
  height: 0px;
  background: #20aa76;
  -webkit-transition: width 0.25s;
  transition: width 0.25s;
}

.nav-home ul li a:hover::after {
  width: 100%;
  position: absolute;
  height: 4px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 4px 6px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 6px 4px rgba(0, 0, 0, 0.1);
}

.nav-home ul .active {
  position: relative;
}

.nav-home ul .active::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #20aa76;
}

.nav-container {
  background: #20aa76;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1800px;
  z-index: 2;
  -webkit-transition: background 250ms ease-in;
  transition: background 250ms ease-in;
  -webkit-box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.3);
}

.nav-container nav {
  height: 8vh;
  min-height: 4rem;
  display: -ms-grid;
  display: grid;
}

.nav-container nav #heading {
  font-size: 2rem;
  margin-left: 20%;
  color: #0f0f0f;
}

.nav-container nav ul {
  width: 90%;
}

.nav-container nav ul li {
  font-size: 1.6rem;
}

.nav-container nav ul li a {
  color: #0f0f0f;
}

.nav-container nav ul li a::after {
  background: rgba(0, 0, 0, 0.6);
}

.nav-container nav ul li a:hover::after {
  height: 2px;
  -webkit-box-shadow: 0px 4px 6px 4px rgba(24, 126, 83, 0.322);
          box-shadow: 0px 4px 6px 4px rgba(24, 126, 83, 0.322);
}

.nav-container nav ul .active::after {
  height: 2px;
  background: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 768px) {
  html,
  body {
    overflow-x: hidden;
    max-width: 100%;
  }
  .nav-home {
    background: #20aa76;
    width: 100%;
    top: 0;
    position: fixed;
    -webkit-box-shadow: none;
            box-shadow: none;
    z-index: 5;
    -webkit-transition: none;
    transition: none;
  }
  .nav-home nav {
    height: 8vh;
    min-height: 4rem;
    margin-top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .nav-home .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    -webkit-transform: translate(-5%, -50%);
            transform: translate(-5%, -50%);
  }
  .nav-home .hamburger .line {
    width: 30px;
    height: 3px;
    background: black;
    margin: 5px;
  }
  .nav-home #heading {
    font-family: 'Major Mono Display', monospace;
    font-size: 2.4rem;
    -ms-grid-column-align: self-start;
        justify-self: self-start;
    margin-left: 0%;
  }
  .nav-home ul {
    position: fixed;
    top: 0;
    background-color: #20aa76;
    margin-top: 8vh;
    height: 93vh;
    width: 100%;
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
    /* Using a mask for the dropdown */
    clip-path: circle(100px at 85% -25%);
    -webkit-clip-path: circle(100px at 85% -25%);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    pointer-events: none;
  }
  .nav-home ul li a {
    cursor: pointer;
    font-size: 2rem;
  }
  .nav-home ul .active::after {
    background: black;
    -webkit-transition: width 0.2s;
    transition: width 0.2s;
  }
  .nav-home ul.open {
    clip-path: circle(1400px at 85% -25%);
    -webkit-clip-path: circle(1400px at 85% -25%);
    z-index: 1;
    pointer-events: all;
  }
  .nav-home .nav-links li {
    opacity: 0;
  }
  .nav-home .nav-links li:nth-child(1) {
    -webkit-transition: all 0.5s ease-in 0.1s;
    transition: all 0.5s ease-in 0.1s;
  }
  .nav-home .nav-links li:nth-child(2) {
    -webkit-transition: all 0.5s ease-in 0.2s;
    transition: all 0.5s ease-in 0.2s;
  }
  .nav-home .nav-links li:nth-child(3) {
    -webkit-transition: all 0.5s ease-in 0.3s;
    transition: all 0.5s ease-in 0.3s;
  }
  .nav-home .nav-links li.fade {
    opacity: 1;
  }
  .nav-container nav #heading {
    margin-left: 0%;
  }
  .nav-container nav ul {
    width: 100%;
  }
}

#welcome {
  height: Min(80vh, 80vw);
  min-height: 500px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 1fr 1fr 10%;
      grid-template-columns: 5% 1fr 1fr 10%;
  -ms-grid-rows: 5% 1fr 5%;
      grid-template-rows: 5% 1fr 5%;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#welcome .pf-card {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  width: 60%;
  height: 100%;
  border-radius: 60px;
  background: #20aa76;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.1);
}

#welcome .pf-card .pf-photo {
  border-radius: 50%;
  overflow: hidden;
  width: 14vw;
  height: 14vw;
  position: relative;
}

#welcome .pf-card .pf-photo img {
  position: absolute;
  width: 100%;
  height: auto;
  margin: auto;
}

#welcome .pf-card .card-info-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  height: 50%;
}

#welcome .pf-card .card-info-fluid h3 {
  font-size: calc(1vw + 1rem);
}

#welcome .pf-card .card-info-fluid p {
  font-size: calc(0.6vw + 0.8rem);
}

#welcome .pf-card .card-info-fluid .pf-location i {
  font-size: calc(1vw + 0.8rem);
}

#welcome .pf-card .card-info-fluid .pf-email {
  margin-bottom: calc(2vh + 1rem);
}

#welcome .pf-card .card-info-fluid .pf-email i {
  font-size: calc(1vw + 0.8rem);
}

#welcome .pf-card .card-info-fluid .pf-contact-icons i {
  font-size: calc(1.5vw + 1rem);
  margin: 1rem;
  color: white;
}

#welcome .wel-note {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#welcome .wel-note .wel-note-content {
  margin: 2em 1em;
  width: 60%;
  height: 60%;
}

#welcome .wel-note p {
  font-size: clamp(1.5rem, 1.5vw, 2.8rem);
  margin: 1rem 0rem;
  line-height: 3.8rem;
}

#welcome .wel-note .wel-note-main {
  margin: 3rem 0px;
  font-size: clamp(1.5rem, 1.9vw, 3.5rem);
  font-weight: 600;
}

#welcome .wel-note .wel-btn {
  width: 60%;
  color: white;
  background: radial-gradient(#20aa76 80%, #20aa75c2);
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 1em 0.5em;
  font-size: calc(0.6vw + 1rem);
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.1);
}

#welcome .wel-note .wel-btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media screen and (max-width: 768px) {
  #welcome {
    height: 85vh;
    min-height: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #welcome .pf-card {
    width: 100%;
    height: 100%;
    border-radius: 0px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 10% 1fr 10%;
        grid-template-columns: 10% 1fr 10%;
    -ms-grid-rows: 2fr 3fr 5%;
        grid-template-rows: 2fr 3fr 5%;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 10vh;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  #welcome .pf-card .pf-photo {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    border-radius: 50%;
    overflow: hidden;
    width: 28vw;
    height: 28vw;
    position: relative;
    margin: 1rem 0rem 0rem 1rem;
  }
  #welcome .pf-card .pf-photo img {
    position: absolute;
    width: 100%;
    height: auto;
    margin: auto;
  }
  #welcome .pf-card .card-info-fluid {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    display: -ms-grid;
    display: grid;
    width: 100%;
    height: 100%;
    -ms-grid-columns: 1fr 1.4fr;
        grid-template-columns: 1fr 1.4fr;
    -ms-grid-rows: 1fr 1fr 1.5fr;
        grid-template-rows: 1fr 1fr 1.5fr;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #welcome .pf-card .card-info-fluid h3 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    font-size: calc(2vw + 1rem);
  }
  #welcome .pf-card .card-info-fluid .pf-location {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    font-size: clamp(1.05rem, 2.8vw, 2rem);
  }
  #welcome .pf-card .card-info-fluid .pf-location i {
    font-size: 1.7rem;
    margin-right: 0.5rem;
  }
  #welcome .pf-card .card-info-fluid .pf-email {
    margin: 0rem 0rem 0rem 1rem;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    font-size: clamp(1.05rem, 2.8vw, 2rem);
  }
  #welcome .pf-card .card-info-fluid .pf-email i {
    font-size: 1.6rem;
    margin-right: 0.2rem;
  }
  #welcome .pf-card .card-info-fluid .pf-contact-icons {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  #welcome .pf-card .card-info-fluid .pf-contact-icons i {
    font-size: calc(5vw + 1rem);
    margin: 1rem;
    color: white;
  }
  #welcome .wel-note {
    width: 100%;
    height: 100%;
    padding: 2rem 0rem;
    border-radius: 0px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  #welcome .wel-note .wel-note-content {
    margin: 1rem 1rem;
    width: 80%;
    height: 60%;
  }
  #welcome .wel-note p {
    font-size: calc(2vw + 1rem);
    text-align: center;
    margin: 1rem 0px;
    line-height: 3.8rem;
  }
  #welcome .wel-note .wel-note-main {
    margin: 1rem 0rem;
    font-size: calc(3vw + 1rem);
    font-weight: 500;
  }
  #welcome .wel-note .wel-note-sub {
    line-height: 3rem;
  }
  #welcome .wel-note .wel-btn {
    position: relative;
    margin: 1em 0rem;
    width: 50%;
    font-size: calc(1.5vw + 1rem);
    padding: 0.6em 0.5em;
    border-radius: 20px;
  }
}

.side-dots {
  position: fixed;
  top: 50%;
  left: 95%;
  -webkit-transform: translate(-95%, -50%);
          transform: translate(-95%, -50%);
  width: 15px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  z-index: 10000;
}

.side-dots .dot-link {
  border: 1px solid #006842d7;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
  position: relative;
}

.side-dots .dot-link a::before {
  content: '';
  position: absolute;
  display: block;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  background: none;
}

.side-dots .dot-active {
  background: #20aa76;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 600px) {
  .side-dots {
    width: 15px;
    height: 100px;
  }
  .side-dots .dot-link {
    width: 10px;
    height: 10px;
  }
  .side-dots .dot-link a::before {
    width: 10px;
    height: 10px;
  }
}

#projects {
  min-height: Min(80vh, 80vw);
  font-family: 'Montserrat', sans-serif;
  margin: 5vh 0vh 10vh 0vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 1fr 5%;
      grid-template-columns: 5% 1fr 5%;
  -ms-grid-rows: 5% 1fr 5%;
      grid-template-rows: 5% 1fr 5%;
  justify-items: center;
}

.project-tile {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  position: relative;
  border-radius: 50px;
  width: 90%;
  min-height: Min(80vh, 80vw);
  -webkit-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-tile .project-title {
  position: absolute;
  z-index: -2;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -45%);
          transform: translate(-50%, -45%);
  width: 85%;
  height: 0.5rem;
  background-color: #20aa76;
}

.project-tile .project-title .title-container {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -45%);
          transform: translate(-50%, -45%);
  width: 40%;
  background: white;
}

.project-tile .project-title .title-container h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  color: #20aa76;
}

.project-tile .row-1, .project-tile .row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
}

.card {
  position: relative;
}

.card .face {
  width: 240px;
  height: 160px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card .face.face1 {
  position: relative;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.card .face.face1 .content img {
  width: 120px;
  height: auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card .face.face1 .content h3 {
  margin: .5rem 0 0;
  padding: 0;
  color: black;
  text-align: center;
  font-size: 1.2em;
}

.card .face.face2 {
  position: relative;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem;
  border-radius: 10px;
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
          box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
}

.card .face.face2 .content p {
  margin: 0;
  padding: 0;
}

.card .face.face2 .content a {
  margin: 0.8rem 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 0.5rem;
  border: 1px solid #333;
}

.card .face.face2 .content a:hover,
.card .face.face2 .content a:active {
  background: #333;
  color: #fff;
}

.container .card .face.face1 {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.container .card:hover .face.face1,
.container .card:focus .face.face1,
.container .card:active .face.face1 {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.container .card .face.face1 .content {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container .card:hover .face.face1 .content,
.container .card:focus .face.face1 .content,
.container .card:active .face.face1 .content {
  opacity: 0.2;
}

.container .card .face.face2 {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
}

.container .card:hover .face.face2,
.container .card:focus .face.face2,
.container .card:active .face.face2 {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.arrow span {
  display: none;
}

@media screen and (max-width: 1100px) {
  .card .face {
    width: 210px;
    height: 140px;
  }
  .card .face.face1 .content img {
    width: 100px;
  }
}

@media screen and (max-width: 768px) {
  #projects {
    margin: 5vh 0vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 10% 1fr 10%;
        grid-template-columns: 10% 1fr 10%;
    -ms-grid-rows: 1fr 5%;
        grid-template-rows: 1fr 5%;
    justify-items: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .project-tile {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    border-radius: 8px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .project-tile .project-title {
    position: relative;
    width: 85%;
    top: 0%;
    left: 0%;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    margin: 4rem 0rem 2rem 0rem;
  }
  .project-tile .project-title .title-container {
    position: relative;
    width: 50%;
  }
  .project-tile .project-title .title-container h2 {
    font-size: calc(2vw + 1rem);
  }
  .project-tile .row-1, .project-tile .row-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .project-tile .row-2 {
    display: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .project-tile .row-2.content-show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .project-tile .arrow {
    padding: 3rem 0rem;
    cursor: pointer;
  }
  .project-tile .arrow span {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 3px solid  #20AA76;
    border-right: 3px solid  #20AA76;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin: -8px;
  }
  .project-tile .arrow-down span {
    -webkit-animation: animate1 2s infinite;
            animation: animate1 2s infinite;
  }
  .project-tile .arrow-down span:nth-child(2) {
    -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s;
  }
  .project-tile .arrow-up span {
    -webkit-animation: animate2 2s infinite;
            animation: animate2 2s infinite;
  }
  .project-tile .arrow-up span:nth-child(2) {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  @-webkit-keyframes animate1 {
    0% {
      opacity: 0;
      -webkit-transform: rotate(45deg) translate(-5px, -5px);
              transform: rotate(45deg) translate(-5px, -5px);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      -webkit-transform: rotate(45deg) translate(5px, 5px);
              transform: rotate(45deg) translate(5px, 5px);
    }
  }
  @keyframes animate1 {
    0% {
      opacity: 0;
      -webkit-transform: rotate(45deg) translate(-5px, -5px);
              transform: rotate(45deg) translate(-5px, -5px);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      -webkit-transform: rotate(45deg) translate(5px, 5px);
              transform: rotate(45deg) translate(5px, 5px);
    }
  }
  @-webkit-keyframes animate2 {
    0% {
      opacity: 0;
      -webkit-transform: rotate(-135deg) translate(-5px, -5px);
              transform: rotate(-135deg) translate(-5px, -5px);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      -webkit-transform: rotate(-135deg) translate(5px, 5px);
              transform: rotate(-135deg) translate(5px, 5px);
    }
  }
  @keyframes animate2 {
    0% {
      opacity: 0;
      -webkit-transform: rotate(-135deg) translate(-5px, -5px);
              transform: rotate(-135deg) translate(-5px, -5px);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      -webkit-transform: rotate(-135deg) translate(5px, 5px);
              transform: rotate(-135deg) translate(5px, 5px);
    }
  }
  .card {
    margin: 0;
  }
}

#about {
  min-height: 500px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 1fr 5%;
      grid-template-columns: 5% 1fr 5%;
  -ms-grid-rows: 5% 1fr 5%;
      grid-template-rows: 5% 1fr 5%;
  justify-items: center;
  margin-bottom: 5rem;
}

.about-page {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  width: 90%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.4fr 1fr;
      grid-template-columns: 1.4fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-page .about-me {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  width: 90%;
  height: 100%;
  justify-self: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

.about-page .contact-me {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  width: 90%;
  height: 100%;
  justify-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

.about-description {
  height: 40%;
  width: 95%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 3em;
}

.about-description h3 {
  font-size: 2rem;
  text-align: center;
}

.about-description p {
  margin: 2rem 4rem;
  padding: 0rem 1rem;
  text-align: justify;
  font-size: 1.6rem;
  line-height: 2.5rem;
}

.about-description::after {
  content: '';
  display: block;
  width: 83%;
  height: 4px;
  background: #20aa76;
  border-radius: 4px;
  margin: 2em auto;
}

.about-info {
  min-height: 250px;
  width: 80%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  margin: 1rem auto;
}

.about-tabs {
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  /* Go from zero to full opacity */
}

.about-tabs button {
  background-color: #448b7010;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.6em 1em;
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  border-radius: 8px;
  margin: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.about-tabs button:hover {
  background-color: #20aa7563;
  color: #f1f1f1;
}

.about-tabs button.active {
  background-color: #20aa76;
  color: #f1f1f1;
}

.about-tabs .tab-main {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  -webkit-animation: fadeEffect 500ms;
          animation: fadeEffect 500ms;
  /* Fading effect takes 500 ms */
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tab-main {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tab-main .tab-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.2fr 1fr 1fr;
      grid-template-columns: 1.2fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  margin: 2rem 1rem;
  justify-items: start;
}

.tab-main .m-text {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  font-weight: 600;
}

.tab-main .opt--1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.tab-main .opt--2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

#Experience {
  margin: 2rem 3.5rem;
  font-size: 1.5rem;
}

#Experience .exp-list {
  list-style: none;
}

#Experience .exp-list li {
  margin: 2rem 0rem;
  font-family: 'Montserrat', sans-serif;
  line-height: 2.6rem;
}

#Experience .exp-list li a {
  color: #055c1f;
}

#Experience .exp-list li a:hover,
#Experience .exp-list li a:focus,
#Experience .exp-list li a:active {
  color: #20aa76;
}

#Experience .exp-list li span {
  font-weight: 600;
}

#Experience .exp-list li::before {
  content: '';
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  border: solid 2px black;
  background: #20aa76;
  display: inline-block;
  margin: 0rem 1rem 0rem -2rem;
}

#Education {
  margin: 4rem 4rem;
  font-size: 1.5rem;
}

#Education p {
  font-family: 'Montserrat', sans-serif;
  line-height: 2.6rem;
}

#Education p::before {
  content: '';
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  border: solid 2px black;
  background: #20aa76;
  display: inline-block;
  margin: 0rem 1rem 0rem -2rem;
}

#Education a {
  color: #055c1f;
}

#Education a:hover,
#Education a:focus,
#Education a:active {
  color: #20aa76;
}

.contact-head {
  font-size: 2rem;
  text-align: center;
  margin-top: 3rem;
}

#contact-form {
  width: 95%;
  height: 90%;
  padding: 1.5rem 0.625rem 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact-form label {
  font-size: 1.6rem;
  font-weight: 600;
}

#contact-form .form-field {
  margin: 1rem;
  width: 80%;
  padding: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact-form .form-input {
  display: inline-block;
  width: 65%;
  height: 3.2rem;
  padding: 0.375rem 0.75rem;
  color: black;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid #ced4da;
  border-radius: 0.5rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

#contact-form .form-input:focus {
  border-color: #20aa76;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.1);
}

#contact-form #text-label {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 0.5rem;
}

#contact-form #text-input {
  min-height: 140px;
  padding: 0.625rem;
  resize: vertical;
}

#contact-form .submit-button {
  padding: 0.5em 4em;
  margin-left: 4rem;
  background: #20aa76;
  color: #f1f1f1;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  outline: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.1);
}

.btn-top {
  position: absolute;
  top: 88%;
  left: 96%;
  -webkit-transform: translate(-96%, -88%);
          transform: translate(-96%, -88%);
  width: 4rem;
  height: 4rem;
  background: #20aa76;
  border-radius: 50%;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: fixed;
  -webkit-transition: background 1s linear;
  transition: background 1s linear;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
}

.btn-top .btn-img a {
  text-decoration: none;
  color: #f1f1f1;
}

.btn-top .btn-img a i {
  font-size: 2.3rem;
}

.btn-top:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media screen and (min-width: 1200px) {
  .tab-main {
    margin-left: 1%;
  }
  .tab-content {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 900px) {
  #about {
    -ms-grid-columns: 10% 1fr 10%;
        grid-template-columns: 10% 1fr 10%;
    -ms-grid-rows: 1fr 5%;
        grid-template-rows: 1fr 5%;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-page {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-page .about-me {
    width: 100%;
  }
  .about-page .contact-me {
    width: 100%;
    height: 100%;
    margin: 4rem 0rem;
    border-radius: 50px;
  }
  .about-description {
    height: auto;
    width: 100%;
    padding: 1rem 2rem;
    position: relative;
  }
  .about-description p {
    margin: 2rem;
    line-height: 3rem;
  }
  .about-description::after {
    position: relative;
    width: 91%;
    margin: 0 auto;
  }
  .tab-main {
    margin-left: 3rem;
  }
  .about-tabs {
    /* Style the buttons that are used to open the tab content */
  }
  .about-tabs button {
    font-size: 1.4rem;
  }
  #contact-form .submit-button {
    margin: 2rem 0 0;
  }
}

@media screen and (max-width: 600px) {
  .about-me {
    padding-bottom: 2rem;
  }
  .about-description {
    font-size: 1.4rem;
    margin-top: 1.5em;
    padding-bottom: 0;
  }
  .about-description p {
    margin: 1rem;
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
  .about-description::after {
    margin: 1em auto;
  }
  .about-info {
    margin: 0;
  }
  .about-tabs {
    margin-top: 1rem;
  }
  .about-tabs button {
    font-size: calc(1vw + 0.6rem);
    padding: 0.3em 0.5em;
    border-radius: 4px;
  }
  .tab-main {
    margin-top: 2rem;
    margin-left: 0;
  }
  .tab-main .tab-content {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    grid-row-gap: 1rem;
    row-gap: 1rem;
    justify-items: center;
    margin: 1rem 0rem 2rem;
  }
  .tab-main .m-text {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .tab-main .opt--1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .tab-main .opt--2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  #Experience {
    font-size: 1.4rem;
  }
  .contact-head {
    font-size: 1.8rem;
  }
  #contact-form label {
    font-size: 1.4rem;
  }
  #contact-form .submit-button {
    margin: 2rem auto 0rem;
  }
}

#footer-tab {
  width: 100%;
  height: 8vh;
  min-height: 4rem;
  background: #20aa76;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  -webkit-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.1);
}

#footer-tab .footer-left {
  width: 80px;
  font-size: 1.6rem;
  margin-left: 5rem;
}

#footer-tab .footer-left .copyright {
  font-size: 2rem;
}

#footer-tab .icons {
  text-align: start;
  width: 30%;
  margin-right: 20%;
  margin-top: 4px;
}

#footer-tab .icons i {
  margin: 0px 5px;
  -webkit-transition: 250ms ease-in;
  transition: 250ms ease-in;
}

#footer-tab .icons i:hover {
  color: #0f6580;
}

#footer-tab .footer-right {
  width: 50%;
  text-align: end;
  font-size: 1.5rem;
  margin-right: 5rem;
}

#footer-tab .footer-right p span {
  font-family: 'Major Mono Display', monospace;
}
/*# sourceMappingURL=portfolio_page.css.map */